// colors
$black: #000;
$white: #fff;

$main-text-color: #000;
$main-bg-color: #fff;

$main-accent-color: red;

// fonts
$main-font-family: "Roboto", sans-serif;
$main-font-size: 14px;

// container
$container-max-width-xs: 100%;
$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1320px;

$grid-gap-side: 15px;

// breakpoints
$bp-xs: 413px;
$bp-sm: 575px;
$bp-md: 767px;
$bp-lg: 991px;
$bp-xl: 1201px;
$bp-xxl: 1401px;