doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
    link(rel="stylesheet", href="assets/css/style.min.css")
    title Карта сайта
    style(type="text/css").
      .pages-sitemap {
        padding: 100px 0;
      }
      .pages-sitemap__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: #252525;
        padding: 12px 20px;
        margin-bottom: 12px;
        text-transform: uppercase;
      }
      .pages-sitemap__nav a {
        display: block;
        padding: 10px 20px;
        font-size: 18px;
        transition: all .3s ease;
      }
      .pages-sitemap__nav a:nth-child(odd) {
        background-color: #F7F7F7;
      }
      .pages-sitemap__nav a:hover {
        color: #edf9ff;
        background-color: #252525;
      }
  body
    .wrapper
      main
        .container
          .pages-sitemap
            .pages-sitemap__title Карта сайта
            .pages-sitemap__nav
              a(href="ui-kit.html") Ui-kit
              a(href="main.html") Главная страница
    
    script(src="assets/js/scripts.min.js")